<footer class="bg-dark text-light mt-5 py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>Karate Xplorer</h5>
        <p class="text-muted">A Postman emulator - run existing collections as-is</p>
      </div>
      <div class="col-md-3">
        <h6>Links</h6>
        <ul class="list-unstyled">
          <li><a href="{{ '/docs/' | relative_url }}" class="text-muted">Documentation</a></li>
          <li><a href="https://github.com/karatelabs/xplorer/issues" class="text-muted">Issues</a></li>
          <li><a href="https://www.karatelabs.io/pricing" class="text-muted">Pricing</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h6>Connect</h6>
        <ul class="list-unstyled">
          <li><a href="https://github.com/karatelabs/xplorer" class="text-muted">GitHub</a></li>
          <li><a href="https://www.karatelabs.io" class="text-muted">Karate Labs</a></li>
        </ul>
      </div>
    </div>
    <hr class="border-secondary">
    <div class="text-center text-muted">
      <small>&copy; {{ 'now' | date: "%Y" }} Karate Labs Inc. All Rights Reserved.</small>
    </div>
  </div>
</footer>
