<footer class="bg-body-secondary mt-5 py-4 border-top">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>Karate Xplorer</h5>
        <p class="text-body-secondary">The API Collection Runner You Always Wanted</p>
      </div>
      <div class="col-md-3">
        <h6>Links</h6>
        <ul class="list-unstyled">
          <li><a href="{{ '/docs/' | relative_url }}" class="text-body-secondary text-decoration-none">Documentation</a></li>
          <li><a href="https://github.com/karatelabs/xplorer/issues" class="text-body-secondary text-decoration-none">Issues</a></li>
          <li><a href="https://www.karatelabs.io/pricing" class="text-body-secondary text-decoration-none">Pricing</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h6>Connect</h6>
        <ul class="list-unstyled">
          <li><a href="https://www.karatelabs.io" class="text-body-secondary text-decoration-none">Karate Labs</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="text-center text-body-secondary">
      <small>&copy; {{ 'now' | date: "%Y" }} Karate Labs Inc. All Rights Reserved.</small>
    </div>
  </div>
</footer>
